
/*    Variables #d7d6d1   */
.theme-light {
  --color-primary: #292929;
  --color-secondary: #cccac5;
  --color-accent:#d8d6d1;
  --font-color: #000000;
  --font-color-o: #ffffff;
  --card-color: rgb(245, 245, 245);
  background-color: var(--color-secondary);

}
.theme-dark {
  --color-primary: #212224;
  --color-secondary: #333333;
  --color-accent: #171717;
  --font-color: #ffffff;
  --card-color: rgb(87, 87, 87);
  background-color: var(--color-secondary);

}
/*    /Variables     */







/*    Animations    */

/*    /Animations    */



/*    Misc    */


body {
  background-color: var(--color-primary);
  text-align: center;

}


a[type=text-link] {
  color:blue;
  text-decoration: none;
}
a[type=text-link]:hover {
  text-decoration: underline;
}
::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}

body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  background-color: rgb(185, 185, 185);
  border-radius: 0px;
  
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(119, 119, 119);

  border-radius: 60px;

}


/*    /Misc    */







/*    NavBar    */



header {
  position: relative;
  padding-top: 10px;
  color:var(--font-color);
  background-color: var(--color-accent);
}
.nav-link-div {
  position: relative;
}

.nav-link {
  position: relative;

  left:25%;
  top:-10px;


  text-decoration: none;
  color: var(--font-color);
  margin: 0 0 20px 20px;
  font-size: 15px;
  border-color: lightblue;

}
.nav-link:hover {
 text-decoration: underline;

}
.nav-name {
    position: relative;
    padding-left:15%;
    left:-40%;
    font-size: 20px;
    text-decoration: none;
    color:var(--font-color);
}

@media screen and (max-width: 500px) {
  .nav-name {
    left:auto;
    text-align: center;
  }
  .nav-link {
    top:0px;
    left:0%;
  }




  
}


/*    /NavBar    */




/*    Home    */



.home-div {
  position: relative;
  background-color: var(--color-secondary);
  height: fit-content;
  
  
}


.home-top-description-div {
  background-color: var(--color-accent);
  padding:30px 0px 100px 10%;
  text-align: left;
  color: var(--font-color);


}
.home-top-description-title {
  font-size: 35px;
}
.home-top-description-link {
  text-decoration: none;
  color:blue;
  font-weight: 500;
}
.home-top-description-link:hover {
    text-decoration: underline;
}
.home-top-description {
  width:50%;
  font-size: 20px;
  color: var(--font-color);

}
@media screen and (max-width: 1300px) { 
  .home-top-description {
    width:70%;
  }
}


.home-work-title {
  text-align: left;
  padding-top: 50px;
  padding-left: 10%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  color:var(--font-color);

}


/*       Card          */
.card-div {
  padding-bottom:100px;
  padding-top: 30px;
}
.card-img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.card-img-blur {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width:300px;  
  display: inline-block;
  vertical-align:top;
  margin:50px;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  color: var(--font-color);
  background-color: var(--card-color);

}

.card:hover {
  box-shadow: 0 32px 72px 0 rgba(0,0,0,0.2);
  transform:scale(1.05);

}
@media screen and (max-width:400px){
  .card {
    width:90%;
    margin:0px;
    margin-top:50px;
    margin-bottom: 50px;
  }
}


.home-card-label-div-text-blue {
  background-color: #b1e3ff;
  color:black;
  font-weight: 600;
  width:fit-content;
  padding:2px 5px;
  border-radius: 10%;
  margin:auto;
  margin-bottom: 20px;
  display: inline-block;
}
.home-card-label-div-text-orange {
  background-color: #fed674;
  color:black;
  font-weight: 600;
  width:fit-content;
  padding:2px 5px;
  border-radius: 10%;
  margin:auto;
  margin-bottom: 20px;
  display: inline-block;
}
.home-card-label-div-text-purple {
  background-color: #ccccfa;
  color:black;
  font-weight: 600;
  width:fit-content;
  padding:2px 5px;
  border-radius: 10%;
  margin:auto;
  margin-bottom: 20px;  
  display: inline-block;
}
.home-card-label-div-text-red {
  background-color: #fc5c84;
  color:black;
  font-weight: 600;
  width:fit-content;
  padding:2px 5px;
  border-radius: 10%;
  margin:auto;
  margin-bottom: 20px;
}
.home-card-label-div-coming {
  background-color: #5cfcd4;
  color:black;
  font-weight: 600;
  width:fit-content;
  padding:2px 5px;
  border-radius: 10%;
  margin:auto;
  margin-bottom: 20px;
  display: inline-block;
}

.container {
  font-family: inherit;
  padding: 2px 16px;
}

/*       /Card          */

.home-div-about {
  padding:150px 0px 150px 0px;
  display: block;
  background-color: var(--color-accent);
}
.home-div-about-title {
  display: inline-block;
  width:35%;
  text-align: center;
  padding-left: 0%;
  color:gray;
  text-decoration: none;
}
.home-div-about-link {
  display: inline-block;
  width:50%;
  color:var(--font-color);
  text-align: left;
  text-decoration-color: var(--font-color);
  font-size: 25px;
}

@media screen and (max-width: 550px) { 
  .home-div-about-link {
    width:100%;
    text-align: center;
  }
}


@media screen and (max-width: 400px) { 
  .home-top-description {
    flex-grow: 1;
    flex-shrink: 0;
    padding: 3rem 1.5rem;
    width:auto;
    font-size: 20px;
  }
}


/*    /Home    */


/*   About     */
.about-skillset-div {
  background-color: var(--color-secondary);
  height: fit-content;
  padding-bottom: 100px;
  color:var(--font-color);
}
.about-skillset-description {
  display: inline-block;
  width:50%;
  padding-bottom: 50px;
  font-size: 20px;
  vertical-align:top;
  margin: auto;
}
@media screen and (max-width: 600px) { 
  .about-skillset-description {
    width:100%;
    padding-bottom: 50px;
  }
}

.about-together-div {
  padding:100px;
  color:white;
  text-align: center;
}

.about-together-text {
  font-size:70px;
}

@media screen and (max-width:650px){
  .about-together-div {
    padding:100px 0px 100px 0px;
    font-size: 4vw;

  }
  .about-together-text {
    font-size: 10vw;
  }

}
/*   /About     */








/*    Footer    */

footer {
  position: relative;
  color:white;
  height: fit-content;
  background-color: #292929;
  padding-bottom: 50px;
}
.footer-div {
  display: inline-block;
}

.footer-block {
  display: inline-block;
  width:300px;
  height: fit-content;

  font-family: Arial, Helvetica, sans-serif;
  margin:50px;

}



.footer-quick-link {
  text-decoration: none;
  color:white;
  transition: all ease-in-out 0.3;
}
.footer-quick-link:hover {
text-decoration: underline;
}
@media screen and (max-width:400px){
  .footer-block {
    margin:auto;
  }
}

/*    /Footer    */
