/*    Variables #d7d6d1   */
.theme-light {
  --color-primary: #292929;
  --color-secondary: #fbfbfd;
  --color-accent:#ffffff;
  --font-color: #000000;
  --font-color-o: #ffffff;
  --card-color: rgb(255, 255, 255);
}
.theme-dark {
  --color-primary: #212224;
  --color-secondary: #333333;
  --color-accent: #171717;
  --font-color: #ffffff;
  --card-color: rgb(87, 87, 87);
}
/*    /Variables     */
/*    Misc    */
.copy {
  width:30px;
}
body {
  text-align: center;
}
a[type=text-link] {
  color:#2364e8;
  text-decoration: none;
}
a[type=text-link]:hover {
  text-decoration: underline;
}
::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}
body::-webkit-scrollbar {
  width: 1em;
}
body::-webkit-scrollbar-track {
  background-color: rgb(185, 185, 185);
  border-radius: 0px;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(119, 119, 119);
  border-radius: 60px;
}
/*    /Misc    */
/*    NavBar    */
header {
  position: relative;
  padding-top: 100px;
  padding-bottom: 50px;
  width:80%;
  margin:auto;
  color:var(--font-color);
  background-color: var(--color-accent);
  display:flex;
  justify-content: space-between}
.nav-link-div {
  display:flex;
  justify-self: right;
  margin:auto;

}
.nav-link {
  text-decoration: none;
  color: var(--font-color);
  margin: auto 20px;
  vertical-align: baseline;
  font-size: 19px;
}
.nav-link:hover {
  
 border-bottom: solid;
 border-color: lightblue;
}
.nav-name {
  position: relative;
  font-size: 30px;
  text-decoration: none;
  color:var(--font-color);
}
.nav-menu {
  display:none;
}
#nav-menu-div {
  display:none;
}
.nav-link-menu {
  color:var(--font-color);
  text-decoration: none;
  
  margin: 20px auto;
}
.nav-link-menu:hover {
  background-color: white;
}
#nav-menu-div {
    position: relative;
    width:80%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: auto;
    text-align: left;
    z-index: 1;
  }
@media screen and (max-width: 600px) {

  
  .nav-link {
   display:none;
  }
  .nav-menu {
    display:flex;
    width:40px;
  }
  
}
/*    /NavBar    */
/*    Home    */
.home-div {
  position: relative;
  background-color: var(--color-secondary);
  height: fit-content;
}
.home-top-description-div {
  background-color: var(--color-accent);
  padding:30px 0px 100px 10%;
  text-align: left;
  color: var(--font-color);
  border-bottom: solid;
  border-color: rgb(216, 216, 216);
  border-width: 1px;
}
.home-top-description-title {
  font-size: 35px;
  margin-bottom:0px;
}
.home-top-description-link {
  text-decoration: none;
  color:#2364e8;
  font-weight: 500;
}
.home-top-description-link:hover {
    text-decoration: underline;
}
.home-top-description {
  width:50%;
  font-size: 20px;
  color: var(--font-color);
}
@media screen and (max-width: 1300px) { 
  .home-top-description {
    width:70%;
  }
}
.home-work-title {
  text-align: left;
  padding-top: 50px;
  margin:auto;
  padding-left: 10%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  color:var(--font-color);
}
/*       Card          */
.card-div {
  padding-bottom:100px;
  padding-top: 30px;
}
.card-img {
  width: 40%;
  float:left;
  border-radius: 10px;
}
.card-img-blur {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.gray {
  color:rgb(184, 184, 184);
  font-size: 16px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  transition: 0.3s;
  width:800px;  
  height:320px;
  display: block;
  margin:50px auto;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  color: var(--font-color);
  background-color: var(--card-color);
}
.card:hover {
  box-shadow: 0 32px 72px 0 rgba(0,0,0,0.3);
  transform:scale(1.02);
  cursor: pointer;
}
.container {
  font-family: inherit;
  padding: 10px 16px;
}
@media screen and (max-width:850px){
  .card {
    width:55%;
    display:inline-block;
    height: fit-content;
  }
  .card-img {
    padding-bottom: 30px;
    width: 100%;
    display:inline-block;
  }
}
@media screen and (max-width:600px) {
  .card {
    width:80%;
  }
}
.home-card-label-div-text-blue {
  color:black;
  font-weight: 600;
  padding:2px 10px;
  border-radius: 10px;
  margin:auto;
  margin-bottom: 20px;
  display: inline-block;
}
/*       /Card          */
.home-div-about {
  padding:150px 0px 150px 0px;
  display: block;
  background-color: var(--color-accent);
}
.home-div-about-title {
  display: inline-block;
  width:35%;
  text-align: center;
  padding-left: 0%;
  color:gray;
  text-decoration: none;
}
.home-div-about-link {
  display: inline-block;
  width:50%;
  color:var(--font-color);
  text-align: left;
  text-decoration-color: var(--font-color);
  font-size: 25px;
}
.home-div-about-link:hover {
  text-decoration: none;
}
@media screen and (max-width: 550px) { 
  .home-div-about-link {
    width:100%;
    text-align: center;
  }
}
@media screen and (max-width: 400px) { 
  .home-top-description {
    flex-grow: 1;
    flex-shrink: 0;
    padding: 3rem 1.5rem;
    width:auto;
    font-size: 20px;
  }
}
/*    /Home    */
/*   About     */
.about-skillset-div {
  background-color: var(--color-secondary);
  height: fit-content;
  padding-bottom: 100px;
  color:var(--font-color);
}
.about-skillset-description {
  display: inline-block;
  width:50%;
  padding-bottom: 50px;
  font-size: 20px;
  vertical-align:top;
  margin: auto;
}
@media screen and (max-width: 600px) { 
  .about-skillset-description {
    width:100%;
    padding-bottom: 50px;
  }
}
.about-together-div {
  padding:100px;
  color:white;
  text-align: center;
}
.about-together-text {
  font-size:70px;
}
@media screen and (max-width:650px){
  .about-together-div {
    padding:100px 0px 100px 0px;
    font-size: 4vw;
  }
  .about-together-text {
    font-size: 10vw;
  }
}
/*  /About     */
/*   Work    */
.work-div {
  height: fit-content;
  border-top: solid;
  border-color: rgb(216, 216, 216);
  border-width: 1px;
}
.work-img-div {
  background: linear-gradient(90deg, rgba(111,0,173,1) 0%, rgba(72,0,173,1) 49%, rgba(119,0,170,1) 100%);
  height: 600px;
  align-items: flex-end;
  display: flex;
  justify-content: center;
}
.work-img {
  position: relative;
  height: 50%;
  border-radius: 5% 5% 0 0;
}
.work-role {
  display:flex
}
.work-role-content {
  margin:5% auto;
}
.work-role-title {
  font-size: 25px;
  font-weight: 500;
}
.work-colored {
  color:black;
  font-weight: 600;
  padding:2px 5px;
  border-radius: 10%;
  margin:auto;
  margin-bottom: 20px;
  display: inline-block;
  background-color:#b1e3ff;
  margin-left:10%;
  font-size: 25px;
}
/*  /Work    */
/*    Footer    */
footer {
  position: relative;
  color:white;
  height: fit-content;
  background-color: #292929;
  padding-bottom: 50px;
}
.footer-div {
  display: inline-block;
}
.footer-block {
  display: inline-block;
  width:300px;
  height: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  margin:50px;
}
.footer-quick-link {
  text-decoration: none;
  color:white;
  transition: all ease-in-out 0.3;
}
.footer-quick-link:hover {
text-decoration: underline;
}
@media screen and (max-width:400px){
  .footer-block {
    margin:auto;
  }
}
/*    /Footer    */
