/*    Variables    */

.theme-light {
  --color-primary: #292929;
  --color-secondary: #fbfbfd;
  --color-accent: orange;
  --font-color: #ffffff;
  --font-color-o: #ffffff;
  --card-color: rgb(255, 255, 255);
  color: var(--font-color);
  background-color: var(--color-primary);
  font-family: Calibre, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/*    /Variables     */

/*    Misc    */

.copy {
  width: 30px;
}

body {
  text-align: center;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

a[type=text-link] {
  text-decoration: none;
  color: rgb(100, 134, 228)
}

a[type=text-link]:hover {
  text-decoration: underline;
}

::selection {
  background: var(--color-accent);
  /* WebKit/Blink Browsers */
  color: white;
}

::-moz-selection {
  background: var(--color-accent);
  /* Gecko Browsers */
  color: white;
}

body::-webkit-scrollbar {
  width: 0.7em;
}

body::-webkit-scrollbar-track {
  background-color: #292929;
  border-radius: 0px;
}

body::-webkit-scrollbar-thumb {
  background-color: orange;
  border-radius: 60px;
}

/*    /Misc    */

/*    NavBar    */

hr {
  display: inline-block;
  width: 5%;
}

header {
  position: fixed;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  z-index: 3;
  width: 100%;
  top: 0;
  padding: 30px 0;
  flex-wrap: wrap;
  border-bottom:solid 1px orange;
}

.nav-logo {
  width: 40px;
  transition: all ease-in-out 0.3s;
}

.nav-logo-link {
  margin: auto;
}

.nav-logo:hover {
  transform: scale(1.1);
}

.nav-links-div {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 700px;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: var(--font-color-o);
  margin: auto;
  font-size: 19px;
  transition: all ease-in-out 0.2s;
}

.nav-link:hover {
  color: var(--color-accent);
  cursor: pointer;
}

@media screen and (max-width:1000px) {
  .nav-links-div {
    display: none;
  }
}
.toTop-div {
  position: fixed;
  right:10px;
  bottom:10px;
  background-color: rgba(56, 56, 56, 0.822);
  border-radius: 5px;
  transition: all ease-in-out 0.3s;
}
.toTop-img {
  width:40px;
}
.toTop-div:hover {
  cursor: pointer;
  background-color: rgb(56, 56, 56);
}

#loadline {
  width:700px;
  margin: auto;
  margin-top: 5px;
  height: 5px;
  background-color: ivory;
  z-index: 100;
  border-radius: 10px;
}
@media screen and (max-width:800px) {
  #loadline {
    width:90%;
  }
}
/*    /NavBar    */

/*    Intro    */

.intro-div {
  text-align: left;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-button {
  background-color: transparent;
  width: fit-content;
  font-size: 20px;
  color: var(--color-accent);
  padding: 10px;
  border: solid 1px var(--color-accent);
  display: inline-block;
  text-decoration: none;
  background: linear-gradient(to left, transparent 50%, var(--color-accent) 50%) right;
  background-size: 200%;
  transition: .5s ease-out;
}

.intro-button:hover {
  background-color: var(--color-accent);
  color: white;
  cursor: pointer;
  background-position: left;
}

#intro-button-full {
  color: white;
  margin-right: 20%;
  background: linear-gradient(to left, var(--color-accent) 50%, transparent 50%) right;
  background-size: 200%;
  transition: .5s ease-out;
}

#intro-button-full:hover {
  color: var(--color-accent);
  background-position: left;
}

.intro-text {
  font-size: 60px;
  margin: 0;
}

.intro-tiny-text {
  font-size: 20px;
}

@media screen and (max-width:1100px) {
  .intro-div {
    font-size: 30px;
  }
  .intro-text {
    font-size: 40px;
  }
}

@media screen and (max-width:600px) {
  .intro-div {
    font-size: 20px;
  }
  .intro-text {
    font-size: 30px;
  }
}

@media screen and (max-width:400px) {
  .intro-div {
    font-size: 16px;
  }
  .intro-text {
    font-size: 25px;
  }
}

/*   End Of Intro     */

.section-title {
  text-align: left;
  padding-top: 50px;
  margin: auto;
  padding-left: 10%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  color: var(--font-color);
}

/*       exp          */

.exp-link {
  display: inline-block;
  vertical-align: middle;
}

.exp-container {
  display: flex;
  width: 800px;
  background-color: var(--color-primary);
  height: 400px;
  border-radius: 10px;
  margin: 50px auto;
  flex-direction: row-reverse;
}

.exp-options-div {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.exp-options-list {
  width: 100%;
  margin: auto;
}

.exp-option {
  color: var(--font-color-o);
  margin: 5% auto;
  padding: 15px 10px;
  width: 80%;
  border-radius: 5px;
  transition: all ease-in-out 0.2s!important;
  background: linear-gradient(to left, transparent 50%, rgb(255, 194, 0) 50%) right;
  background-size: 200%;
}

.exp-option:hover {
  cursor: pointer;
  background-position: left;
}

.exp-content-div {
  width: 50%;
  height: 80%;
  margin: auto;
  border: solid 2px var(--color-accent);
  border-radius: 10px;
  display: none;
}

.exp-content-title {
  text-align: left;
  padding: 0 5%;
  color: var(--font-color-o);
  font-weight: 600;
  font-size: 20px;
}

.exp-content-sub-title {
  text-align: left;
  color: var(--font-color-o);
  font-weight: 600;
  font-size: 16px;
  padding: 0 5%;
}

ul {
  color: var(--font-color-o);
  padding: 5%;
  width: 80%;
  margin: auto;
}

li {
  margin: auto;
}

.exp-skill {
  display: inline-block;
  margin: 0 5%;
  color: var(--color-accent);
}

.exp-skill:hover {
  color: white;
  cursor: default;
  animation: squishTurn 0.7s infinite;
}

@media screen and (max-width:870px) {
  .exp-container {
    flex-direction: column-reverse;
    height: fit-content;
    width: 300px;
    padding: 10px;
  }
  .exp-options-div {
    width: 100%;
  }
  .exp-options-list {
    width: 100%;
    
    border: solid 1px orange;
    
    border-radius: 10px;
  }
  .exp-content-div {
    width: 100%;
  }
}

/*    /Home    */

/*   Skills     */

@keyframes squishTurn {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1.2, 1);
  }
  50% {
    transform: scale(1, 1);
  }
  75% {
    transform: scale(0.1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.skills-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 700px;
  justify-content: space-evenly;
  margin: auto;
}

.skill-content {
  margin: 10%;
  font-family: Calibre, sans-serif;
  transition: all ease-in-out 0.3s;
}

.skill-content:hover {
  animation: squishTurn 0.7s infinite;
  cursor: pointer;
}

.skill-alt {
  margin: 10%;
  font-family: Calibre, sans-serif;
  color: var(--color-accent);
  transition: all ease-in-out 0.3s;
}

.skill-alt:hover {
  animation: squishTurn 0.7s infinite;
  cursor: pointer;
}

@media screen and (max-width:800px) {
  .skills-div {
    width: 90%;
  }
}

/*  /Skills     */

/*   About    */

.about-div {
  width: 70%;
  margin: auto;
  margin-bottom: 200px;
}

.about-text {
  font-size: 22px;
  word-spacing: 3px;
  line-height: 25px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

.about-tag {
  text-align: left;
  font-style: italic;
}

.about-link {
  text-decoration: none;
  color:rgb(100, 134, 228);
}

.about-link:hover {
  text-decoration: underline;
}

/*    Projects    */

@keyframes squirm {
  0% {
    transform: scale(1, 1)
  }
  50% {
    transform: scale(1.07, 1)
  }
  100% {
    transform: scale(1, 1)
  }
}

.project-div {
  display: flex;
  flex-direction: row;
  width: 800px;
  color: var(--font-color-o);
  border-radius: 10px;
  margin: 100px auto;
}

.project-img {
  width: 400px;
  border-radius: 10px;
}

.project-img:hover {
  animation: squirm 0.5s;
}

.project-title {
  font-size: 30px;
  color: var(--color-accent);
}

.project-info {
  padding: 3% 5%;
  background-color: var(--color-primary);
  margin: 0 5%;
  border-radius: 10px;
  background-color: #1f1f1f;
}

.project-info:hover {
  animation: squirm 0.5s;
}

.project-link-div {
  width: fit-content;
  margin-left: auto;
}

.project-link-img {
  width: 30px;
  background-color: transparent;
  border-radius: 50px;
  transition: all ease-in-out 0.3s;
}

.project-link-img:hover {
  background-color: var(--color-accent);
}

.project-tag-div {
  display: flex;
  flex-wrap: wrap;
}

.project-tag {
  padding: 4px 6px;
  color: var(--color-accent);
  transition: all ease-in-out 0.3s;
  margin: auto;
}

.project-tag:hover {
  color: white;
  cursor: default;
  animation: squishTurn 0.7s infinite;
}

.project-bottom-link {
  display: inline-block;
  color: var(--color-accent);
  text-decoration: underline;
}

.project-bottom-link:hover {
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width:960px) {
  .project-div {
    flex-direction: column;
    width: 330px;
  }
  .project-img {
    margin-top: 50px;
    width: 330px;
  }
}

/*    Footer    */

footer {
  color: var(--font-color-o);
  background-color: #292929;
  padding: 40px 0;
  border-top:orange solid 1px;
}

.footer-main-text {
  font-size: 65px;
  padding: 40px 0;
}

.footer-quick-link:hover {
  text-decoration: underline;
}

.footer-code-link {
  color: var(--font-color-o);
  text-decoration-color: var(--font-color-o);
  text-decoration: underline;
}

.footer-code-link:hover {
  text-decoration: none;
}

@media screen and (max-width:500px) {
  .footer-main-text {
    font-size: 45px;
  }
}

/*    /Footer    */