

/*    Animations    */
@keyframes bgColor { /* animation: bgColor 5s infinite linear;*/
  12.5% {
    background-color: #FF0000;
  }
  25% {
    background-color: #FFA500;
  }
  37.5% {
    background-color: #FFFF00;
  }
  50% {
    background-color: #7FFF00;
  }
  62.5% {
    background-color: #00FFFF;
  }
  75% {
    background-color: #0000FF;
  }
  87.5% {
    background-color: #9932CC;
  }
  100% {
    background-color: #FF1493;
  }
}
/*    /Animations    */



/*    Misc    */

.raidbow {
  animation: bgColor 5s infinite linear;
  height: fit-content;
  background-color: lawngreen;
}

body {
  background-color: rgb(255, 255, 255);
}
.App {
  text-align: center;
}

a[type=text-link] {
  color:blue;
  text-decoration: none;
}

::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}


/*    /Misc    */







/*    NavBar    */



header {
  position: relative;

  padding-top: 10px;

  background-color: rgb(255, 255, 255);

  
}
.nav-link-div {
  position: relative;
}

.nav-link {
  position: relative;

  left:25%;
  top:-30px;


  text-decoration: none;
  color:rgb(65, 65, 65);
  margin: 0 0 20px 20px;
  font-size: 20px;
  border-color: lightblue;

}
.nav-link:hover {
  color:black;
  border-bottom: solid;
  border-color: lightblue;

}
.nav-name {
    position: relative;
    padding-left:15%;
    left:-40%;
    font-size: 30px;
    text-decoration: none;
    color:rgb(3, 3, 3);


}
.nav-name:hover {
  color:black;
}
@media screen and (max-width: 500px) {
  .nav-name {
    left:auto;
    text-align: center;
  }
  .nav-link {
    top:0px;
    left:0%;
  }




  
}


/*    /NavBar    */




/*    Home    */



.home-div {
  position: relative;

  background-color: #fbfbfd;
  height: fit-content;
  padding-bottom: 200px;
  
  
}

.home-top-description-title {
  background-color: white;
  padding:30px 0px 100px 10%;
  text-align: left;

}
.home-top-description {
  width:70%;
  font-size: 20px;
}

.home-work-title {
  text-align: left;
  padding-top: 50px;
  padding-left: 10%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;

}


/*       Card          */
.card-img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.card-img-blur {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width:300px;
  display: inline-block;
  vertical-align:top;
  margin:50px;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
}

.card:hover {
  box-shadow: 0 32px 72px 0 rgba(0,0,0,0.2);
  transform:scale(1.05);

}


.home-card-label-div-text-blue {
  background-color: #b1e3ff;
  font-weight: 600;
  width:fit-content;
  padding:2px 5px;
  border-radius: 10%;
  margin:auto;
  margin-bottom: 20px;
  display: inline-block;
}
.home-card-label-div-text-orange {
  background-color: #fed674;
  font-weight: 600;
  width:fit-content;
  padding:2px 5px;
  border-radius: 10%;
  margin:auto;
  margin-bottom: 20px;
  display: inline-block;
}
.home-card-label-div-text-purple {
  background-color: #ccccfa;
  font-weight: 600;
  width:fit-content;
  padding:2px 5px;
  border-radius: 10%;
  margin:auto;
  margin-bottom: 20px;  
  display: inline-block;
}
.home-card-label-div-text-red {
  background-color: #fc5c84;
  font-weight: 600;
  width:fit-content;
  padding:2px 5px;
  border-radius: 10%;
  margin:auto;
  margin-bottom: 20px;
}
.home-card-label-div-coming {
  background-color: #5cfcd4;
  font-weight: 600;
  width:fit-content;
  padding:2px 5px;
  border-radius: 10%;
  margin:auto;
  margin-bottom: 20px;
  display: inline-block;
}

.container {
  font-family: inherit;
  padding: 2px 16px;
}
/*       /Card          */




@media screen and (max-width: 400px) { 
  .home-top-description {
    flex-grow: 1;
    flex-shrink: 0;
    padding: 3rem 1.5rem;
    width:auto;
    font-size: 20px;
  }
}

/*    /Home    */


/*   About     */
.about-skillset-div {
  background-color: #fbfbfd;
  height: fit-content;
  padding-bottom: 100px;
}

.about-skillset-description {
  display: inline-block;
  width:50%;
  padding-bottom: 50px;
  font-size: 20px;
  vertical-align:top;
  margin: auto;
}

@media screen and (max-width: 600px) { 
  .about-skillset-description {
    width:100%;
    padding-bottom: 50px;
  }
}



/*   /About     */








/*    Footer    */

footer {
  position: relative;


  height: fit-content;
  background-color: #f6f8fc;
}
.footer-div {
  background-color: #f6f8fc;
  display: inline-block;
}

.footer-block {
  display: inline-block;
  width:300px;
  height: fit-content;

  font-family: Arial, Helvetica, sans-serif;
  margin:50px;

}



.footer-quick-link {
  text-decoration: none;
  color:black;
  transition: all ease-in-out 0.3;
}
.footer-quick-link:hover {
  color:rgb(4, 0, 255);

}



/*    /Footer    */
