/*    Variables    */

.theme-light {
    --color-primary: #ffffff;
    --color-secondary: #fbfbfd;
    --color-accent: #162029;
    --font-color: #ffffff;
    --font-color-o: #0c0c0c;
    --card-color: #232323;
    --accent: #e84c3d;
    color: var(--font-color);
    background-color: #162029;
    font-family: Calibre, sans-serif;
}

html {
    scroll-behavior: smooth;
}

span {
    margin: 0;
}

::placeholder {
    color: var(--color-secondary);
    opacity: 1;
    font-family: Arial, Helvetica, sans-serif;
}

:-ms-input-placeholder {
    color: var(--color-secondary);
    font-family: Arial, Helvetica, sans-serif;
}

/*    /Variables     */

/*    Misc    */

#experience {
    position: relative;
    visibility: hidden;
}

#skills {
    position: relative;
    visibility: hidden;
}

#projects {
    position: relative;
    visibility: hidden;
}

#about {
    position: relative;
    visibility: hidden;
}

@keyframes onScrollFade {
    from {
        top: 300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.copy {
    width: 30px;
}

body {
    text-align: center;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

a[type="text-link"] {
    text-decoration: none;
    color: rgb(100, 134, 228);
}

a[type="text-link"]:hover {
    text-decoration: underline;
}

::selection {
    background: var(--accent);
    color: white;
}

::-moz-selection {
    background: var(--accent);
    color: white;
}

body::-webkit-scrollbar {
    width: 0.7em;
    background-color: #162029;
}

body::-webkit-scrollbar-track {
    background-color: #e84c3d;
}

body::-webkit-scrollbar-thumb {
    border-radius: 60px;
    background-color: #1e2c38;
}

/*    /Misc    */

/*    NavBar    */

hr {
    display: inline-block;
    width: 5%;
}

header {
    position: fixed;
    display: flex;
    z-index: 3;
    width: 100%;
    top: 0;
    padding: 30px 0;
    flex-wrap: wrap;
    border-bottom: solid 1px var(--color-accent);
    color: white;
    background-color: var(--color-accent);
}

.nav-links-div {
    display: flex;
    flex-direction: row;
    width: 700px;
}

.nav-link {
    text-transform: uppercase;
    margin: auto;
    font-size: 19px;
    transition: all ease-in-out 0.2s;
}

.nav-link:hover {
    color: var(--accent);
    cursor: pointer;
}

@media screen and (max-width: 740px) {
    .nav-links-div {
        width: 100%;
    }
}

#loadline {
    width: 100%;
    margin-top: 5px;
    height: 5px;
    z-index: 100;
}

@keyframes bounce {
    0% {
        bottom: 8vh;
    }
    50% {
        bottom: 9vh;
    }
    100% {
        bottom: 8vh;
    }
}

@keyframes scrollDownAnimation {
    to {
        bottom: 110vh;
        display: none;
    }
}

.scroll-down-div {
    position: fixed;
    bottom: 8vh;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all ease-in-out 0.3s;
    align-items: center;
    animation: bounce 3s infinite;
}

.scroll-down-img {
    width: 60px;
}

/*    /NavBar    */

/*    Intro    */

.intro-name {
    font-family: "Comfortaa", sans-serif;
    color: var(--accent);
    font-weight: 800;
}

.intro-div {
    text-align: left;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: slideFromTop 2s;
}

.intro-button-div {
    display: flex;
    flex-wrap: wrap-reverse;
    margin: 10px auto;
}

.intro-button {
    background: linear-gradient(to left, transparent 50%, var(--accent) 50%) right;
    width: fit-content;
    font-size: 20px;
    color: var(--color-primary);
    padding: 12px 35px;
    border: solid 1px white;
    background-size: 200%;
    transition: 0.4s ease-out;
    margin: 10px 0;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.intro-button:hover {
    cursor: pointer;
    border: solid 1px var(--accent);
    background-position: left;
}

#intro-button-full {
    color: var(--font-color);
    margin-right: 20%;
    background: linear-gradient(to left, var(--accent) 50%, transparent 50%) right;
    background-size: 200%;
    border: solid 1px var(--accent);
}

#intro-button-full:hover {
    background-position: left;
    border: solid 1px white;
}

.intro-text {
    font-size: 60px;
    margin: 0;
}

.intro-tiny-text {
    font-size: 25px;
    margin: 0;
}

@media screen and (max-width: 1100px) {
    .intro-div {
        font-size: 30px;
    }
    .intro-text {
        font-size: 40px;
    }
}

@media screen and (max-width: 600px) {
    .intro-div {
        font-size: 20px;
    }
    .intro-text {
        font-size: 30px;
    }
}

@media screen and (max-width: 400px) {
    .intro-div {
        font-size: 16px;
    }
    .intro-text {
        font-size: 25px;
    }
}

/*   End Of Intro     */

.section-title {
    font-size: 50px;
    font-weight: 500;
    margin: 85px 0 0 0;
    color: inherit;
    text-transform: uppercase;
}

.section-hr {
    background: #444649;
    border: none;
    height: 4px;
    margin: 25px 0;
    width: 70px;
}

/*       exp          */

.exp-container {
    display: flex;
    width: 800px;
    color: white;
    height: 400px;
    border-radius: 10px;
    margin: 50px auto;
    flex-direction: row-reverse;
    border: white solid 1px
}

.exp-options-div {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
}

.exp-options-list {
    width: 100%;
    margin: auto;
}

.exp-option {
    margin: 5% auto;
    padding: 15px 10px;
    width: 80%;
    border-radius: 5px;
    transition: all ease-in-out 0.1s !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
}

.exp-option:hover {
    cursor: pointer;
    background-color: var(--accent)!important;
}

.exp-link-img {
    width: 30px;
    background-color: transparent;
    border-radius: 50px;
    transition: all ease-in-out 0.3s;
}

.exp-link-img:hover {
    background-color: var(--accent);
}

.exp-content-div {
    width: 50%;
    height: 80%;
    margin: auto;
    border: solid 2px var(--color-accent);
    border-radius: 10px;
    display: none;
}

.exp-content-title {
    text-align: left;
    padding: 0 5%;
    font-size: 20px;
    font-family: "Comfortaa", sans-serif;
}

.exp-content-sub-title {
    text-align: left;
    font-weight: 600;
    font-size: 16px;
    padding: 0 5%;
}

ul {
    padding: 5%;
    width: 80%;
    margin: auto;
}

li {
    margin: auto;
}

.exp-skill {
    display: inline-block;
    margin: 0 5%;
    color: var(--font-color);
}

.exp-skill:hover {
    color: white;
    cursor: default;
    animation: squishTurn 0.7s infinite;
}

@media screen and (max-width: 870px) {
    .exp-container {
        flex-direction: column-reverse;
        height: fit-content;
        width: 300px;
        padding: 10px;
    }
    .exp-options-div {
        width: 100%;
    }
    .exp-options-list {
        width: 100%;
        border: solid 1px var(--color-accent);
        border-radius: 10px;
    }
    .exp-content-div {
        width: 100%;
    }
}

/*    /Home    */

/*   Skills     */

@keyframes squishTurn {
    0% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(1.2, 1);
    }
    50% {
        transform: scale(1, 1);
    }
    75% {
        transform: scale(0.1, 1);
    }
    100% {
        transform: scale(1, 1);
    }
}

.skills-div {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
    justify-content: center;
}

.skill-content-div {
    width: 170px;
    height: 230px;
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transform: scale(0.9);
    transition: all ease-in-out 0.2s;
    color: rgb(175, 175, 175);
}

.skill-content-div:hover {
    transform: scale(0.92);
    color: white;
}

.skills-label {
    text-transform: uppercase;
    font-style: italic;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 400;
}

circle {
    transition: 0.35s stroke-dashoffset;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.skill-content-percent {
    font-weight: 700;
    font-size: 35px;
    transition: 0.5s;
    position: relative;
    top: -120px;
    margin-bottom: -100px;
}

.skill-section-title {
    font-size: 50px;
    flex-basis: 100%;
    font-family: "Comfortaa", sans-serif;
}

@media screen and (max-width:500px) {
    .skill-content-div {
        margin: initial
    }
}

/*  /Skills     */

/*   About    */

.about-primary {
    background-color: white;
    color: var(--font-color-o);
    padding: 100px 0;
}

.about-div {
    width: 70%;
    max-width: 700px;
    margin: auto;
    margin-bottom: 100px;
}

.about-text {
    color:rgb(68, 68, 68);
    font-size: 22px;
    word-spacing: 3px;
    line-height: 25px;
}

.about-tag {
    text-align: left;
    font-style: italic;
}

.about-link {
    text-decoration: none;
    color: rgb(100, 134, 228);
}

.about-link:hover {
    text-decoration: underline;
}

/*    Projects    */

@keyframes squirm {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.03, 1);
    }
    100% {
        transform: scale(1, 1);
    }
}

#project-arrow {
    margin-bottom: 40px;
}

.project-primary-div {
    background-color: white;
    padding-bottom: 1px;
    color: var(--font-color-o);
}

.project-div {
    background-color: var(--color-accent);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 900px;
    color: var(--font-color);
    border-radius: 3px;
    margin: 50px auto;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.466);
    position: relative;
    top: 0;
    transition: all ease-in-out 0.1s;
}

.project-div:hover {
    top: -8px;
}

.project-img {
    object-fit: scale-down;
    width: 400px;
    height: 300px;
}

.project-img:hover {
    animation: squirm 0.3s;
}

.project-title {
    font-size: 30px;
    color: var(--font-color);
    font-family: "Comfortaa", sans-serif;
}

.project-info {
    padding: 3% 5%;
    margin: 0 5%;
    border-radius: 10px;
    text-align: left;
    line-height: 25px;
}

.project-info:hover {
    animation: squirm 0.3s;
}

.project-link-div {
    width: fit-content;
    margin-right: auto;
}

.project-link-img {
    width: 30px;
    border-radius: 50px;
    transition: all ease-in-out 0.3s;
}

.project-link-img:hover {
    background-color: var(--accent);
    cursor: pointer;
}

.project-link {
    display: inline;
    margin: 10px;
}

.project-tag-div {
    display: flex;
    flex-wrap: wrap;
    font-family: "Comfortaa", sans-serif;
    justify-content: left;
    margin: 10px 0;
}

.project-tag {
    font-size: 12px;
    color: var(--accent);
    transition: all ease-in-out 0.3s;
    margin: 8px 10px;
}

.project-tag:hover {
    color: white;
    cursor: default;
    animation: squishTurn 0.7s infinite;
}

@media screen and (max-width: 960px) {
    .project-div {
        flex-direction: column;
        width: 330px;
    }
    .project-img {
        margin-top: 50px;
        width: 330px;
    }
}

/*    Footer    */

footer {
    color: white;
    background-color: var(--color-accent);
}

.footer-copyright {
    color: gray;
    font-size: 14px;
}

.footer-code-link {
    color: var(--accent);
    text-decoration: underline;
}

.footer-code-link:hover {
    text-decoration: none;
}

.footer-form {
    width: 500px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-input {
    outline-width: 0;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #1e2c38;
    border: none;
    resize: vertical;
    color: var(--color-primary);
    font-family: Arial, Helvetica, sans-serif;
}

textarea {
    height: 60px;
}

button {
    width: fit-content;
    font-size: 20px;
    background-color: transparent;
    padding: 8px 32px;
    margin: auto;
    color: var(--font-color);
    border: solid var(--color-primary) 1px;
    transition: all ease-in-out 0.4s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover {
    background-color: var(--accent);
    cursor: pointer;
    border-color: var(--accent);
}

.footer-bottom {
    background-color: #1c242f;
    padding: 30px 0;
}

.footer-socials-div {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin: auto;
    padding: 20px;
}

.footer-social-div {
    background-color: #262f38;
    padding: 13px;
    transition: all ease-in-out 0.3s;
}

.footer-social-div:hover {
    background-color: var(--accent);
    transform: scale(0.95);
    cursor: pointer;
}

.footer-social-img {
    width: 30px;
}

@media screen and (max-width:600px) {
    .footer-form {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .footer-main-text {
        font-size: 45px;
    }
}

/*    /Footer    */