



/*    Misc    */

body {
  background-color: rgb(255, 255, 255);
}
.App {
  text-align: center;
}

a[type=text-link] {
  color:blue;
  text-decoration: none;
}



/*    /Misc    */





/*    NavBar    */



header {
  position: relative;

  padding-top: 10px;

  background-color: rgb(255, 255, 255);

  
}
.nav-link-div {
  position: relative;
}

.nav-link {
  position: relative;

  left:25%;
  top:-30px;


  text-decoration: none;
  color:rgb(65, 65, 65);
  margin: 0 0 20px 20px;
  font-size: 20px;
}
.nav-link:hover {
  color:black;
  border-bottom: solid;
  border-color: lightblue;

}
.nav-name {
    position: relative;
    padding-left:15%;
    left:-40%;
    font-size: 30px;
    text-decoration: none;
    color:rgb(3, 3, 3);


}
.nav-name:hover {
  color:black;
}


/*    /NavBar    */




/*    Home    */

.home-div {
  position: relative;

  background-color: #fbfbfd;
  height: fit-content;
  padding-bottom: 200px;
  
  
}

.home-top-description-title {
  background-color: white;
  padding:30px 0px 100px 10%;
  text-align: left;

}
.home-top-description {
  width:70%;
  font-size: 20px;
}

.home-work-title {
  text-align: left;
  padding-top: 50px;
  padding-left: 10%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;

}


/*       Card          */
.card-img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width:300px;
  display: inline-block;
  margin:50px;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
}

.card:hover {
  box-shadow: 0 32px 72px 0 rgba(0,0,0,0.2);
  transform:scale(1.05);

}


.home-card-label-div-text-blue {
  background-color: #b1e3ff;
  font-weight: 600;
  width:fit-content;
  padding:2px 5px;
  border-radius: 10%;
  margin:auto;
  margin-bottom: 20px;
  display: inline-block;
}
.home-card-label-div-text-orange {
  background-color: #fed674;
  font-weight: 600;
  width:fit-content;
  padding:2px 5px;
  border-radius: 10%;
  margin:auto;
  margin-bottom: 20px;
  display: inline-block;
}
.home-card-label-div-text-purple {
  background-color: #ccccfa;
  font-weight: 600;
  width:fit-content;
  padding:2px 5px;
  border-radius: 10%;
  margin:auto;
  margin-bottom: 20px;  
  display: inline-block;
}
.home-card-label-div-text-red {
  background-color: #fc5c84;
  font-weight: 600;
  width:fit-content;
  padding:2px 5px;
  border-radius: 10%;
  margin:auto;
  margin-bottom: 20px;
}
.home-card-label-div-coming {
  background-color: #5cfcd4;
  font-weight: 600;
  width:fit-content;
  padding:2px 5px;
  border-radius: 10%;
  margin:auto;
  margin-bottom: 20px;
  display: inline-block;
}

.container {
  font-family: inherit;
  padding: 2px 16px;
}
/*       /Card          */

/*    /Home    */





/*    Footer    */

footer {
  position: relative;


  height: fit-content;
  background-color: #f6f8fc;
}
.footer-div {
  background-color: #f6f8fc;
  display: inline-block;
}

.footer-block {
  display: inline-block;
  width:300px;
  height: fit-content;

  font-family: Arial, Helvetica, sans-serif;
  margin:50px;

}



.footer-quick-link {
  text-decoration: none;
  color:black;
  transition: all ease-in-out 0.3;
}
.footer-quick-link:hover {
  color:rgb(4, 0, 255);

}



/*    /Footer    */
